<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Car</title>
</head>
<body>
    <center>
        <br><br>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Title: </label>
            <input type="text" name="title"><br><br>

            <label>Category: </label>
            <select name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label>Model: </label>
            <input type="text" name="model"><br><br>

            <label>Year: </label>
            <input type="number" name="year"><br><br>

            <label>Price: </label>
            <input type="number" name="price"><br><br>

            <label>Image: </label>
            <input type="file" name="image"><br><br>

            <button type="submit">Create</button>

        </form>

    </center>

</body>
</html>
