<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center>
    <h1> Edit </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Title: </label>
        <input type="text" name="title" placeholder="Enter the car name" value="{{ car.title }}"><br><br>

        <label>Category: </label>
            <select name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
            <br><br>

        <label>Model: </label>
        <input type="text" name="model" value="{{ car.model }}"><br><br>

        <label>Year: </label>
        <input type="number" name="year" value="{{ car.year }}"><br><br>

        <label>Price: </label>
        <input type="number" name="price" value="{{ car.price }}"><br><br>

        <label>Image: </label>
        <input type="file" name="image" value="{{ car.image.url }}"><br><br>

        <button type="submit"> Save </button>


    </form>

</center>



</body>
</html>
